{% extends 'bsct/base.html' %}

{% load bscttags i18n %}

{% block BSCT_CONTENT %}

{% block BSCT_TITLE %}
    <div class="page-header">
        <h1>{{object}}
            <small>
                {% block BSCT_DETAIL_ACTIONS %}
                    {% include "bsct/actions.html" %}
                {% endblock %}
            </small>
        </h1>
    </div>
{% endblock %}

{% block BSCT_DETAIL_FIELDS %}

<table class = 'table table-condensed' >
{% with object|get_detail as d %}

    {% for field in d %}
    <tr>
        <th>
            {% block BSCT_DETAIL_FIELDS_FIELD %}
            {{ field.label }}
            {% endblock %}
        </th>

        <td>
            {% block BSCT_DETAIL_FIELDS_VALUE %}
            {{ field.value }}
            {% endblock %}
        </td>
    </tr>
    {% endfor %}

{% endwith %}

</table>

    {% block BSCT_DETAIL_FIELDS_EXTRA %}
    {% endblock %}

{% endblock %}




{% endblock %}
