{% extends 'steroids/base.html' %}
{% load i18n %}

{% block STEROIDS_CONTENT %}

{% block STEROIDS_TITLE %}
    <div class="page-header">
        <h1>{{object}}
            <small>
                {% block STEROIDS_ACTIONS %}
                    {% include "steroids/actions.html" %}
                {% endblock %}
            </small>
        </h1>
    </div>
{% endblock %}

<form
    action = ""
    method = "post"
>
    {% csrf_token %}

    {% block STEROIDS_WARNING %}

        {% block STEROIDS_WARNING_ALERT %}
        <p class="alert alert-warning">
            Estás seguro de querer borrar "{{object}}"?
        </p>
        {% endblock %}

        {% block STEROIDS_WARNING_OPTS %}
        <button
            class = 'btn btn-warning'
            type  = 'submit'
            value = 'Yes'
        >
            {% trans 'Yes' %}
        </button>
        <a
            class = 'btn'
            href  = '{{object.get_absolute_url}}'
        >
            {% trans 'No' %}
        </a>
        {% endblock %}

    {% endblock %}

</form>
{% endblock %}
